<div class="maincontent">
	
	<h1>About Me</h1>

  <h3>Freelance/Contract</h3>
  <p>I have a Bachelor's Degree of Science in Computer Science from the Whitacre College of Engineering at Texas Tech University. I have several year's
    worth of experience with many programming languages, and above all else, truly enjoy programming and making applications. I work full-time as a
    Software Developer, but love working on personal and freelance projects in my free time.</p>
  <p>While I don't have the time or resources for enterprise-level contrat work at this point in time, I am availbable for any personal projects you
    may want, such as web applications, phone applications, or websites. If interested, please contact me at
    <a href="mailto:wesley.scott.SE@gmail.com">wesley.scott.SE@gmail.com</a>.</p>
  <h3>Education</h3>
  <p>After graduating High School having experimented with web development, programming and pharmacy related classes, I decided that Computer Science
    was the degree for me. Thus began my stint at Texas Tech University.</p>
  <p>As cliche as it may sound, college is really where I contribute most of my maturing and figuring out who I am as a person. This most likely is
    because I really had to learn how to fend for myself for the first time, as I was an 8 hour drive away from home for very long periods of time. I
    joined an awesome organization in which I met incredible friends, and participated in a lot of University events and traditions.</p>
  <p> I also began to learn some true programming and the theory/science behind it. This is when I really knew I made the right decision with my major
    and college of choice. That still holds to this day, where I still have an absolute passion for programming and can happily say I make my living
    doing what I love.</p>
  <h3>Work</h3>
  <p>In the summer before my senior year of High School, I began working my first job as a fry-cook at Carl's Junior. It certainly may have not been
    all my idea get this job, but I was working withaclose friend, and truly began to understand the value of money and the work behind it.</p>
  <p>After my frist year at college, I then found myself needing some extra spending cash, and worked for the summer as a Day Camp Counselor at the YCMA.
    Here I learned many of my leadership and time-management skills; both of which were extremely necessary when responsible for a group of six 5 year-olds
    day in and day out.</p>
  <p>While at Texas Tech, I began working at IT Help Central, the face of the University's IT Division. I began low on the ranks, but quickly rose through
    the ranks to becoming a Supervisor in multiple departments, and worked on some really cool projcts that gave me good experience as a softwre developer.</p>
  <p>As of November, 2018, I have officially accepted my first full-time career position as a Software Developer for General Motors, at their IT Innovation
    Center in Austin, TX.</p>

  <div class="footer">
    <br/>Copyright Wesley Scott 2018-2019&copy;<br/>
  </div>

</div>
