<!--The content below is only a placeholder and can be replaced.-->
 <div ng-sidebar-content>
   <button (click)="_toggleSidebar()">Open Menu</button>
 </div>
<ng-sidebar-container>

<ng-sidebar [(opened)]="_opened">
<div class="menu">
  <button (click)="_toggleSidebar()">Close</button>
  <h2 routerLink="/home" (click)="toHome()">Home</h2>
  <h2 routerLink="/projects" (click)="toProject()">Projects</h2>
  <h2 routerLink="/about" (click)="toAbout()">About</h2>
</div>
</ng-sidebar>
	
</ng-sidebar-container>

<div *ngIf="home == true">
  <app-home></app-home>
</div>

<div *ngIf="about == true">
  <app-about></app-about>
</div>

<div *ngIf="projects == true">
  <app-projects></app-projects>
</div>



<router-outlet></router-outlet>
