.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 12.5vh;
  min-width: 100px;
  height: 100%;
  background: #000080;
}

h2{
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
  font-size: 20px;
  text-align: left;
  padding-left: 5px;
  color: #6699CC;
}

h2:link, h2:visited, h2:hover, h2:active{
  color: white;
  text-decoration: none;
}
