<!--The content below is only a placeholder and can be replaced.-->

<div class="sidebar">
  <h2 routerLink="/home" (click)="toHome()">Home</h2>
  <h2 routerLink="/projects" (click)="toProject()">Projects</h2>
  <h2 routerLink="/about" (click)="toAbout()">About</h2>
</div>

<div *ngIf="home == true">
  <app-home></app-home>
</div>

<div *ngIf="about == true">
  <app-about></app-about>
</div>

<div *ngIf="projects == true">
  <app-projects></app-projects>
</div>



<router-outlet></router-outlet>
