


<div align="center">
  <h1>Wesley Scott</h1>
  <h3>Computer Scientist, Software Developer</h3>
  <img src="assets/images/manMe.JPG" alt="Wesley Scott"/>
  <p>
    <a href="https://www.linkedin.com/in/wesley-scott-397b76129/" target="_blank"><img src="assets/images/linkedin.png" style="padding-left:20px;padding-right:20px;"></a>
    <a href="https://github.com/WesScott" target="_blank"><img src="assets/images/github.png" style="padding-left:20px;padding-right:20px;padding-top:15px"></a>
    <a href="https://www.facebook.com/wesley.scott.33865" target="_blank"><img src="assets/images/facebook.png" style="padding-left:20px;padding-right:20px;"></a>
    <a href="files/resume.pdf" target="_blank"><img src="assets/images/resume.png" style="padding-left:30px;padding-right:20px;"></a>
  </p>

  <div class="footer">
    <br/>Copyright Wesley Scott 2018-2019&copy;
  </div>

</div>

<router-outlet></router-outlet>
